{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Python Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="{% static 'css/jquery_confirm.css' %}">
</head>
<body ng-controller="search_controller">

<div class="container">
  <h2 class="text-center font-weight-bold">Resource Allocation</h2>
  <form >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="form-group">
              <label for="email">Capacity:</label>
              <input type="text" class="form-control"  placeholder="Enter capacity" name="capacity" ng-model="user.capacity"  ng-init="user.capacity=''" ng-blur="validation('capacity',user.capacity)" onkeyup="onlynumbers(this)">
               <p ng-messages="myForm.capacity.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                  <%capacity_err%></p>
            </div>
            <div class="form-group">
              <label for="pwd">Hour:</label>
             <input type="text" class="form-control"  placeholder="Enter hour" name="hour" ng-model="user.hour"  ng-init="user.hour=''" ng-blur="validation('hour',user.hour)" onkeyup="onlynumbers(this)">
               <p ng-messages="myForm.hour.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                  <%hour_err%></p>
            </div>
            
            <button type="submit" class="btn btn-primary" id="get_button" ng-click="submit_query_data(user)">Submit</button>


            <div class="col-12 table-responsive text-capitalize mt-6 box-shadow  p-lg-3 p-1 table_data">
                  

                     <table  class="table  w-100  table-striped table-bordered table-sm table_update" cellspacing="0" >
                     <thead>
                        <tr>
                           <th class="th-sm">Sr.No</th>
                           <th class="th-sm">Region Name</th>
                           <th class="th-sm">Cost</th>
                           <th class="th-sm">Machine</th>
                           
                         </tr>
                       
                     </thead>
                     <tbody id="fetch_machine_Data">
                     </tbody>
                  </table>
               </div>

        </div> 
      </div>
    </div>
    
  </form>
</div>

</body>

   <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
   <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-messages.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/jquery_confirm.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/search_index.js' %}"></script>
   <script>
    function onlynumbers(e) {
      var text1 = e;
      space_remover(e);
      var numregex = /[^0-9]/gi;
      if (numregex.test(text1.value)) {
        text1.value = text1.value.replace(numregex, "");
      }
    }
    function space_remover(e) // space remover 
    {
      if(e.value.match(/\s/g)) {
        e.value = e.value.replace(/\s/g, '');
      }
    }
   </script>

</html>